<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.bing-wallpaper-macos.agent</string>

	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-lc</string>
		<string>__INSTALL_PATH__</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>EnvironmentVariables</key>
	<dict>
		<key>BING_MARKET</key>
		<string>__BING_MARKET__</string>
	</dict>

	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>

	<key>StartInterval</key>
	<integer>600</integer>

	<key>StandardOutPath</key>
	<string>/tmp/bing-wallpaper.out.log</string>

	<key>StandardErrorPath</key>
	<string>/tmp/bing-wallpaper.err.log</string>
</dict>
</plist>
